# Go binary files
/bin/
/obj/

.env

# Go workspace files
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go specific
*.test
*.out
*.a
*.i

# User-specific files
*.swp
*.swo

# IDE/editor specific files
.vscode/
.idea/
*.vscode/

# Go mod files (optional but useful)
go.sum
go.mod

# Log files
*.log
