# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

.env

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg
*.egg-info/
dist/
build/
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# PyInstaller
#  Usually a folder named "dist" will be created when building executables.
#  If you want to ignore them, add the following:
dist/

# Pytest
.cache

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# VS Code
.vscode/

# PyCharm
.idea/

# Jupyter Notebook
.ipynb_checkpoints

# Sphinx documentation
docs/_build/

# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store

# Linux
*~
